.chat-input {
  display: flex;
  margin: 20px;
  position: relative;
  &__smile-btn {
    margin-right: 15px;
    span.anticon {
      margin-top: 11px;
    }
  }
  .ant-btn-circle {
    border: 0;
    box-shadow: none;
    color: #202020 !important;
    &:after {
      display: none;
    }
  }
  span.anticon {
    cursor: pointer;
    font-size: 18px;
    opacity: 0.5;
    transition: opacity 0.2s ease;
    &:hover {
      opacity: 1;
    }
  }
  &__actions {
    display: flex;
    width: 70px;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    cursor: pointer;
  }
  input:focus,
  input:hover {
    box-shadow: none;
    border: 1px solid #d9d9d9;
  }
}
