.add-dialog-form {
  .ant-form-item {
    margin-bottom: 0;
    &-label {
      line-height: inherit;
    }
  }
}
.content_1 {
  display: flex;
  margin: 20px 10px;
  padding: 7px;
  font-family: sans-serif;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}
.content_2 {
  display: inline;
  max-width: 320px;
  width: 100%;
  margin: 20px 10px 40px;
  padding: 10px 5px;
  font-size: 16px;
  line-height: 16px;
  text-align: right;
  color: #ccc;
}
.content_new {
  display: inline-block;
  width: 200px;
  height: 150px;
  margin-left: 20px;
  margin-bottom: 15px;
}
.content_old {
  display: block;
  max-width: 500vw;
  width: 100%;
  background-color: #c8d2a6;
  font-size: 30px;
  line-height: 30px;
  cursor: pointer;
}
.content_3 {
  display: block;
  margin-top: 20px;
  margin-left: 6px;
  padding: 20px 8px;
  box-sizing: border-box;
  max-width: 500px;
  width: 100%;
  font-size: 20px;
}
.content_resolve {
  display: flex;
  width: 100%;
  height: 100vh;
  text-align: center;
  font-size: 72px;
  line-height: auto;
  z-index: 10;
}

.container__text {
  display: block;
  font-size: 16px;
  line-height: 130%;
  text-align: left;
  margin: 40px 20px;
  padding: 15px;
  color: #ccc;
  text-transform: uppercase;
}