.add-dialog-form {
  .ant-form-item {
    margin-bottom: 0;
    &-label {
      line-height: inherit;
    }
  }
}
.wrapper {
  display: none;
  margin: 10px auto;
  padding: 20px 14px;
  font-size: 24px;
}
