.messages {
  height: 100%;
  padding: 20px;
  padding-bottom: 0;
  overflow: auto;
  &--loading {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.active {
  display: none;
  margin-left: 20px;
  margin-bottom: 40px;
  padding-top: 18px;
}
