.messages {
  height: 100%;
  padding: 20px;
  padding-bottom: 0;
  overflow: auto;
  &--loading {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.comment {
  display: block;
  margin-top: 25px;
  font-size: 18px;
  text-align: center;
  z-index: 5;
  padding: 10px;
}
