.messages {
  height: 100%;
  padding: 20px;
  padding-bottom: 0;
  overflow: auto;
  &--loading {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.block {
  display: auto;
  font-size: 26px;
  line-height: 28px;
  color: antiquewhite;
  background-color: aqua;
}
