.status {
  color: #bfbfbf;
  display: inline-block;
  position: relative;
  &::before {
    display: block;
    position: absolute;
    top: 5px;
    left: -11px;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 30px;
    background-color: #d3d3d3;
  }
  &--online {
    &::before {
      background-color: #00c980;
    }
  }
}
.content {
  display: inline;
  &__inner {
    margin: 10px auto;
    padding: 10px 43px;
    display: none;
    font-size: 28px;
  }
}
