.avatar {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  &--symbol {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 600;
    line-height: 36px;
    font-size: 18px;
  }
}
.comment {
  display: none;
  margin-top: 10px;
  margin-bottom: 28px;
  margin-left: 7px;
  margin-right: 65px;
  padding-left: 10px;
  padding-right: 3px;
  padding-top: 50px;
}
