.message {
  display: flex;
  flex-direction: column;
  &__avatar {
    img {
      border-radius: 50px;
      width: 33px;
      height: 33px;
      margin-right: 13px;
      margin-bottom: 18px;
    }
  }
}
